<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1">
        
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2> IMAGEN LAT </h2> - <h3> (periodo)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero. Voluptates cupiditate
                assumenda accusantium rem totam? Eius, atque reiciendis dolor minima inventore id excepturi. Laborum
                nemo maiores iusto quidem neque.
            </p>
        </ul>
        <ul>
            <li>
                <h2> EDEMSA </h2> - <h3> (periodo)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero. Voluptates cupiditate
                assumenda accusantium rem totam? Eius, atque reiciendis dolor minima inventore id excepturi. Laborum
                nemo maiores iusto quidem neque.
            </p>
        </ul>
        <ul>
            <li>
                <h2> CyM SRL </h2> - <h3> (periodo)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero. Voluptates cupiditate
                assumenda accusantium rem totam? Eius, atque reiciendis dolor minima inventore id excepturi. Laborum
                nemo maiores iusto quidem neque.
            </p>
        </ul>
        <ul>
            <li>
                <h2> IMPSA </h2> - <h3> (periodo)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero. Voluptates cupiditate
                assumenda accusantium rem totam? Eius, atque reiciendis dolor minima inventore id excepturi. Laborum
                nemo maiores iusto quidem neque.
            </p>
        </ul>
        <ul>
            <li>
                <h2> ECOGAS </h2> - <h3> (periodo)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero. Voluptates cupiditate
                assumenda accusantium rem totam? Eius, atque reiciendis dolor minima inventore id excepturi. Laborum
                nemo maiores iusto quidem neque.
            </p>
        </ul>
    </div>
</div>