<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="15" 
        [radius]="80" 
        [imageSrc]="'../assets/circleprogress/html.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="true"
        [outerStrokeWidth]="12" 
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="800">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="15" 
        [radius]="80" 
        [imageSrc]="'../assets/circleprogress/CSS.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="true"
        [outerStrokeWidth]="12" 
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="800">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="15" 
        [radius]="80" 
        [imageSrc]="'../assets/circleprogress/js.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="true"
        [outerStrokeWidth]="12" 
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="800">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="15" 
        [radius]="80" 
        [imageSrc]="'../assets/circleprogress/git.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="true"
        [outerStrokeWidth]="12" 
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="800">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="15" 
        [radius]="80" 
        [imageSrc]="'../assets/circleprogress/eng.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="true"
        [outerStrokeWidth]="12" 
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="800">
    </circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="15" 
        [radius]="80" 
        [imageSrc]="'../assets/circleprogress/grupal.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="true"
        [outerStrokeWidth]="12" 
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'" 
        [animation]="true" 
        [animationDuration]="800">
    </circle-progress>
    </div>

</div>
